/*h1 {*/
/*    text-align: center;*/
/*    padding: 1em;*/
/*}*/

/*pre {*/
/*    padding: 12px;*/
/*}*/

/*.list-group-item.property {*/
/*    display: flex;*/
/*}*/

/*.property .image {*/
/*    max-width: 200px;*/
/*    max-height: 150px;*/
/*    flex-grow: 1;*/
/*}*/

/*.property .description {*/
/*    flex-grow: 2;*/
/*    padding: 12px;*/
/*}*/

/*.mvc-file-locations {*/
/*    font-size: 10pt;*/
/*    margin: 12px 0;*/
/*    padding: 8px 0;*/
/*    border-top: solid 1px #ccc;*/
/*    border-bottom: solid 1px #ccc;*/
/*    color: #666;*/
/*}*/

/*pre {*/
/*    background-color: #fafafa;*/
/*    border-radius: 6px;*/
/*}*/
