.banner-info {
    margin: 10rem 0;
}
.banner {
    margin: 2.5rem 0 0;
    height: 100%;
    background-image: url('../img/bg.jpg');

}
.logo h1 {
    margin-top: 0;
}

/* =============================================================
 BLOG POST STYLE
============================================================ */
.blog-post {
    padding-bottom:30px;
    border-bottom:2px solid #f4f4f4;
    padding-top:30px;
}
.blog-post a, .blog-post a:hover {
    text-decoration:none;
}
.blog-post h1 {
    font-size:30px;
    line-height:50px;
}
.blog-post h4 {
    font-size:20px;
    line-height:25px;
}
.blog-post p {
    font-size:20px;
    line-height:30px;
    padding-bottom:20px;
    padding-top:10px;
}

html, body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    background:#fff;
}

.logo h1 a {

    background-color: #1DC7EA;
}
.gallery img {
    height: 20rem;
}
hr {
    margin: 1rem 5rem;
    border: 0;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
}
body > div.about > div > div.col-md-8.about-right > h4 {
    position: center;
    padding-left: 3rem;
}

.services .container .h4 {
    color: #333333;
}
.hvr-shutter-in-horizontal {
    display: table;
}
div.services.container > div > a > div > button{
    float: right;
}
/*!*Change the color when user hovers over navbar item*!*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#2C93FF;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#2C93FF;
    background-color: #fff;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #00b0ff;
}
#newsletter-signup {
    width: 30%;
    border: 1px solid #eee
}
#submit-subscription {
    margin: 1rem;
}
.carousel-inner {
    margin: auto;
width: 100%;
}
.carousel-inner .item img {
    margin-top: -100px;
    width: 100%;
    height: auto;
}


@media (max-width: 1024px) {
    .banner-1 {
        min-height: 300px;
    }

}

.banner-1{
    background: url(../img/bg.jpg) center fixed ;
    background-size: cover;
    width: 100%;
    min-height: 350px;
}
#navbar-contents {
    display: inline-flex;
}
nav.navbar.navbar-default {
    width: auto;
}
address {
    margin-bottom: 20px;
    font-style: normal;
    color: #D2CCCC;
    font-size: 1em;
    line-height: 1.8em;
    font-weight: 300;
}
.copyright {
    padding: 2em 0;
    text-align: center;
}
ul.social li i {
    display: inline-block;
    background: url(../img/img-sprite.png) no-repeat -160px -8px;
    width: 42px;
    height: 42px;
    margin: 0 5px 0 0;
}
ul.social li i:hover{
    background: url(../img/img-sprite.png) no-repeat -160px -55px;
}
ul.social li i.facebook {
    background-position: -7px -7px;
}
ul.social li i.facebook:hover{
    background-position: -7px -55px;
}
ul.social li i.goog {
    background-position: -56px -7px;
}
ul.social li i.goog:hover{
    background-position: -56px -55px;
}
ul.social li i.lin {
    background-position: -109px -7px;
}
ul.social li i.lin:hover{
    background-position: -109px -55px;
}
ul.social {
    padding: 1em 0 0;
}
ul.social li {
    display: inline-block;
}
