.row {
    max-width: 100rem!important;
}
table tr th, table tr td {
    font-size: 1.2rem!important;
}

.sidebar .nav {
    display:block;
}
.dropdown-menu {
    left: 10%;
}
/*div.sidebar > div > ul > li:nth-child(2) > ul > li:nth-child(1) > a*/
ul.dropdown-menu > li > a {
    color: #333333!important;
}

body > div > div.main-panel > div > div > div > div > div > ul > li {
    line-height: 4rem;
    padding: .5rem;
}
body > div > div.main-panel > nav > div > ul {
    display: inline;
}
body > div > div.main-panel > div > div > div > div > div > p {
    padding: 5% 0;
}
label {
    font-size: 1.2rem!important;
}
select {
margin: 0 0.5rem;
}
input, textarea {
    font-size: 1.5rem!important;
    height: 100%!important;
    margin-bottom: 1rem;
}
/*
This selector converts to class="content table-responsive table-full-width"
which should be placed on the main div of every view
 */
body > div > div.main-panel > div > div > div > div {
    max-width: 80%;
}
.card {
    padding: 1.5rem;
}
.card.card-user {
    height: 100%;
}
