.row {
    max-width: 100rem!important;
}
table tr th, table tr td {
    font-size: 1.2rem!important;
}

.sidebar .nav {
    display:block;
}
body > div > div.main-panel > div > div > div > div > div > ul > li {
    line-height: 4rem;
    padding: .5rem;
}
body > div > div.main-panel > nav > div > ul {
    display: inline;
}
body > div > div.main-panel > div > div > div > div > div > p {
    padding: 5% 0;
}

/*.nav>li>a>img {*/
/*    max-width: 50%;*/
/*    margin-left:10%;*/
/*}*/

/*.sidebar .nav li > a {*/
/*    display: inline-flex;*/
/*}*/
